venv/
env/
__pycache__/
*.pyc
.venv/
.DS_Store
*.sqlite
data/processed/*.csv
data/processed/*.sqlite

data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

*.sqlite
*.db
*.csv
*.json
*.parquet
*.pbix

.vscode/
Downloads/
*.dmg
*.app
*.nt
